.btn-warning{
color:black;
}

.heading{
	color:black;
	background-color: white;
	margin-bottom: 0px;
	margin-top: 0px;
}
.row, .panel-heading, .panel-body{
text-align: center;
}
.panel-body{
	background-color: white;
}
.row{
	margin: 2vh;
}

body{
/*	border: 10px solid transparent;*/
position: absolute;
background: url("backgroundsheet.jpg") no-repeat center center fixed; 
color:#2E2E2E;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
text-align: center;
}
/*
body::after {
  content: "";
  background: url(image.jpg);
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}*/